:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
.mat-form-field {
  width: 100%;
  display: block;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.error {
  width: 300px;
  color: white;
  background-color: red;
}
.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}