:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}
mat-card-title,
mat-card-subtitle,
mat-card-content {
  display: flex;
  justify-content: center;
}
.mat-form-field {
  width: 100%;
  min-width: 400px;
  display: block;
}
.mat-raised-button {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}
.error-message {
  color: white;
  background-color: red;
}